// buttons
.ad-primary-btn
    position: relative
    color: white
    letter-spacing: 1px
    font-size: 21px
    font-weight: 600
    border: none
    text-transform: uppercase
    text-decoration: none
    height: btn-height
    line-height: btn-height
    text-align: center
    width: btn-width
    padding: 0
    border-radius: 0
    overflow: hidden
    width: 100%
    padding: 0 1em
    max-width: 300px

    &:hover
        color: white
        text-decoration: none

        span
            transform: translateX(200%)

        &:before
            left: 0
            font-size: 175%

    span
        display: inline-block
        width: 100%
        height: 100%
        transition: .3s all

    &:before
        position: absolute
        height: 100%
        width: 100%
        transition: all .3s, font-size .3s .3s
        top: 0
        left: -100%
        font-family: "Font Awesome 5 Free"
        font-weight: 900

    &.handwerker:before
        content: '\f6e3'
    &.auftrag:before
        content: '\f15c'
    &.kontakt:before
        content: '\f0e0'

.icon:before, .icon:after
    font-family: "Font Awesome 5 Free"
    font-weight: 700

.ad-blue-btn
    background: ad-blue

.ad-red-btn
    background: ad-red

.gradient-bottom
    pointer-events: none
    position: fixed
    z-index: gradient-bottom-index
    bottom: 0
    left: 0
    right: 0
    width: 100vw
    height: 100px
    background-image: gradient-bottom

// Typo
.section-heading
    letter-spacing: 1.5px
    &:after
        content: ''
        background: ad-blue
        height: 5px
        width: 100px
        display: block
        margin: 1rem auto