// buttons
.ad-primary-btn
    color: white
    letter-spacing: 1px
    font-size: 21px
    font-weight: 600
    border: none
    text-transform: uppercase
    text-decoration: none
    height: btn-height
    line-height: btn-height
    text-align: center
    width: btn-width
    max-width: btn-width
    padding: 0
    border-radius: 0

    &:hover
        color: white
        text-decoration: none

.ad-blue-btn
    background: ad-blue

.ad-red-btn
    background: ad-red

.gradient-bottom
    pointer-events: none
    position: fixed
    z-index: 1000
    bottom: 0
    left: 0
    right: 0
    width: 100vw
    height: 25vh
    min-height: 200px
    background-image: gradient-bottom

// Typo
.section-heading
    letter-spacing: 1.5px
    &:after
        content: ''
        background: ad-blue
        height: 5px
        width: 100px
        display: block
        margin: 1rem auto