footer
    position: relative
    background: ad-blue
    color: white
    z-index: footer-index

    .lead
        letter-spacing: 4px

    .footer-header.left p, .footer-header.right p
        text-align: center

@media screen and (min-width: 750px)
    .footer-header.left p
        text-align: left !important
    .footer-header.right p
        text-align: right !important