.header-container
    background: url('/assets/person/header_bg.jpg') center center no-repeat fixed
    background-size: cover
    width: 100%
    height: 400px
    .content-container
        margin-top: 70px
        padding: 70px 3rem
        background: nav_white
        .form-header-heading
            font-size: 3em
            letter-spacing: 5px