img
    max-width: 100%
    pointer-events: none;

button, a.btn
    cursor: pointer

.container
    margin-top: 5.5rem
    margin-bottom: 175px

.fullHeight
    height: 100%

.fullWidth
    width: 100%

hr.big
    border-top: 3px solid white