.navbar
    position: fixed
    z-index: nav-index
    width 100%
    height: nav-height
    padding: 0;
    background: nav_white
    transition: background .3s
    box-shadow: none;
    &.scrolled
        transition: all .3s
        background: nav_white_scrolled
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3)
    .navbar-brand
        position: relative
        top: -100%
        padding: .5rem 1rem
        height: 100%
        transition: top .3s ease-in-out
        &.scrolled
            top: 0
            transition: top .3s ease-in-out
        img
            height: 100%
        .navbar-slogan
            display: none
            margin-left: 1.5rem
            color: ad-blue
    .landing-btn
        height: nav-height
        min-width: btn-width;

@media screen and (min-width: 992px)
    .navbar
        .navbar-brand
            .navbar-slogan
                display: inline-block