.newsletter-form > .row > .input-group > input
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;

  

.newsletter-form.email-sent > .row > .input-group > input
  box-shadow: 0 0 5px #51ee8a
  border: 1px solid #51ee8a
  position: relative