// colors
ad-blue = #2D619B
ad-red = #FC3E3E
nav_white = rgba(255,255,255,.6)
nav_white_scrolled = rgba(255,255,255,1)
gradient-bottom = linear-gradient(rgba(255,255,255,0), white);

//width/height
nav-height = 70px
btn-height = 70px
btn-width = 300px