div.container.advantage-section
    div.row
        p.h1.text-center.col-12.section-heading VORTEILE VON AUFTRAGSDEPOT24
        p.text-center.col-12.lead Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, exercitationem ipsum. Tempore labore dolorum ullam beatae numquam asperiores voluptatibus recusandae quod, harum, provident, dicta molestias ipsa accusantium fugit? Unde, cum.
    div.row.mt-4
        div.col.col-sm-12.col-12.col-md-4.mb-4
            div.card
                div.card-header.h3.text-center Sicherheit
                div.card-body
                    div.card-icon
                        img(src="../assets/icons/icon.svg", alt="")
                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum 
        div.col.col-sm-12.col-12.col-md-4.mb-4
            div.card
                div.card-header.h3.text-center Sicherheit
                div.card-body
                    div.card-icon
                        img(src="../assets/icons/icon.svg", alt="")
                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum 
        div.col.col-sm-12.col-12.col-md-4.mb-4
            div.card
                div.card-header.h3.text-center Sicherheit
                div.card-body
                    div.card-icon
                        img(src="../assets/icons/icon.svg", alt="")
                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum 
    div.row.mt-5
        a.col-12.col-sm-12.col-lg-4.btn.ad-primary-btn.ad-red-btn.m-auto(href="/person") Handwerker suchen                  
        