div.container.advantage-section
    div.row
        p.h1.text-center.col-12.section-heading VORTEILE VON AUFTRAGSDEPOT24
        p.text-center.col-12.lead Wir lassen dich mit deinem Projekt nicht alleine. Du behältst jederzeit die Kontrolle über deine Terminplanung. Jeder Handwerker hat die entsprechenden Qualifikationen und wurde durch uns geprüft. Persönlicher Kontakt ist uns wichtig, damit dein Projekt perfekt umgesetzt werden kann.
    div.row.mt-4
        div.col.col-sm-12.col-12.col-md-4.mb-4
            div.card
                div.card-header.h3.text-center Sicherheit
                div.card-body
                    div.card-icon
                        div.icon.secure-icon
                    p.card-text.text-center Wir garantieren dir Faire Preise und geprüfte Qualität.
        div.col.col-sm-12.col-12.col-md-4.mb-4
            div.card
                div.card-header.h3.text-center Exklusivität
                div.card-body
                    div.card-icon
                        div.icon.exclusive-icon
                    p.card-text.text-center Du bekommst zielgerichtet zu deinem Projekt die besten Handwerker vermittelt.
        div.col.col-sm-12.col-12.col-md-4.mb-4
            div.card
                div.card-header.h3.text-center Erfolg
                div.card-body
                    div.card-icon
                        div.icon.success-icon
                    p.card-text.text-center Du wählst das Angebot mit dem besten Preis-Leistung-Verhältnis aus.
    div.row.mt-5
        a.col-12.col-sm-12.col-lg-4.btn.ad-primary-btn.ad-red-btn.m-auto.handwerker(href="/handwerker-finden")
            span Handwerker suchen                  
        