footer
    div.container.mb-0.pt-5.pb-2
        div.row
            div.col-md-6
                p.h5.text-left.text-uppercase.mb-3 Folge uns auch in den Sozialen Netzwerkern
                p
                    i.fab.fa-facebook.mr-3
                    span 
                        a(href="https://www.facebook.com/auftragsdepot24/", target="_blank") AD24
                p 
                    i.fab.fa-xing.mr-3
                    span AD24
            div.col-md-6
                p.h5.text-right.text-uppercase.mb-3 Du hast  Fragen?
                    br 
                    span Wir helfen Dir gerne!
                p.text-right
                    span.mr-3 0176 - 76766074
                    i.fas.fa-phone                        
                p.text-right
                    span.mr-3 info@auftragsdepot24.de
                    i.fas.fa-at

        hr.big

        div.row
            p.text-center.mb-4.col-12.col Du willst unseren Newsletter abbestellen? Trage hier Deine Mailadresse ein und wir werden Dir keine Neuigkeiten mehr zusenden.
            .newsletter-container.fullWidth.col-12.col
                form.newsletter-form(action="nsend", method="post")
                    div
                        input(type="hidden", name="type", value="Newsletter abbestellen")
                        div.input-group
                            input.col-12.col-lg-6.offset-lg-3.form-control(type="email", placeholder="Emailadresse...", name="email")
                    div.mt-3.text-center
                        button.col-12.col-sm-12.col-lg-4.btn.m-auto.kontakt.ad-red-btn.text-white
                            span.text-uppercase Newsletter abbestellen

        hr.big

        div.row
            p.bold.col-12.text-center Made with <i class="fas fa-heart"></i> in Germany | Copyright #{year}
            span.col-sm-4.text-uppercase.text-center
                a.text-white(href="/auftragsdepot24-impressum") Impressum
            span.col-sm-4.text-uppercase.text-center
                a.text-white(href="/auftragsdepot24-datenschutz") Datenschutzerklärung
            span.col-sm-4.text-uppercase.text-center
                a.text-white(href="/auftragsdepot24-agb") AGB
