footer
    div.container.mb-0.pt-5.pb-2
        div.row
            div.col-md-6
                p.h4.text-left.text-uppercase.font-weight-bold.mb-3 Folgen Sie uns auch in den Sozialen Netzwerkern
                p.h5
                    i.fab.fa-facebook.mr-3
                    span AD24
                p.h5 
                    i.fab.fa-xing.mr-3
                    span AD24
            div.col-md-6
                p.h4.text-right.text-uppercase.font-weight-bold.mb-3 Sie haben Fragen?
                    br
                    Wir helfen ihnen gern!
                p.h5.text-right
                    span.mr-3 0123 - 45678910
                    i.fas.fa-phone                        
                p.h5.text-right
                    span.mr-3 info@auftragsdepot24.de
                    i.fas.fa-at

        hr.big

        div.row
            p.h5.text-center.mb-4.col-12.col Sie wollen unseren Newsletter abbestellen? Tragen Sie hier Ihre Emailadresse ein und wir werden Ihnen keine Neuigkeiten mehr zusenden.
            .newsletter-container.fullWidth
                form.newsletter-form(action="nsend", method="post")
                    div.row
                        input(type="hidden", name="type", value="Newsletter abbestellen")
                        div.input-group
                            input.col-12.col-lg-6.offset-lg-3.form-control(type="email", placeholder="Emailadresse...", name="email")
                    div.row.mt-3
                        button.col-12.col-sm-12.col-lg-4.btn.ad-primary-btn.ad-red-btn.m-auto.kontakt
                            span.text-uppercase Newsletter abbestellen

        hr.big

        div.row
            p.lead.font-weight-bold.col-12.text-uppercase.text-center Erstellt von 1317 - Digital Marketing
            span.col-sm-6.lead.font-weight-bold.text-uppercase.text-center
                a.text-white(href="/auftragsdepot24-impressum") Impressum
            span.col-sm-6.lead.font-weight-bold.text-uppercase.text-center
                a.text-white(href="/auftragsdepot24-agb") AGB
