div.landing-container
    div.landing-overlay-left
    div.landing-overlay-right
    div.landing-responsive-overlay
    div.content-wrapper
        div.container.m-0
            div.row.text-center
                img.col-12(src="/assets/icons/logo.svg", alt="auftragsdepot24 logo")
                p.landing-slogan.col-12.m-0 
                    span Sicherheit
                    span Exklusivit&auml;t
                    span Erfolg
                hr.col-12.p-0
                p.col-12.landing-description Finde den richtigen Handwerker f&uuml;r Dein Projekt
                a.col-12.btn.ad-primary-btn.ad-red-btn.handwerker(href="/handwerker-finden", style="margin: 0 auto") 
                    span Handwerker suchen