nav.navbar
    a.navbar-brand(href="/")
        img(src="/assets/icons/logo.svg", alt="")
        span.navbar-slogan Sicherheit Exklusivit&auml;t Erfolg
    a.landing-btn.ad-primary-btn.ad-blue-btn.auftrag(href="/company") 
        span Auftr&auml;ge suchen
    