nav.navbar
    a.navbar-brand(href="/")
        img(src="/assets/logo.svg", alt="")
        span.navbar-slogan Sicherheit Exklusivit&auml;t Erfolg
    a.landing-btn.ad-primary-btn.ad-blue-btn(href="/company") Auftr&auml;ge suchen
    