div.container-fluid.partner-section
    div.container.mb-3
        div.row
            p.h1.text-center.col-12.section-heading UNSERE PARTNER

    div#partner-logo-container.row
        div.col-sm.col-12.mb-4.p-5
            img(src="/assets/partner/logo.svg", alt="")
        div.col-sm.col-12.mb-4.p-5
            img(src="/assets/partner/logo.svg", alt="")
        div.col-sm.col-12.mb-4.p-5
            img(src="/assets/partner/logo.svg", alt="")
        
    div.container
        div.row
            p.h1.text-center.col-12.section-heading WARUM PARTNER WERDEN?
            p.text-center.col-12.lead Dein Unternehmen wird direkt bei unseren Handwerksbetrieben mit Website und Produkt bzw. Dienstleistung in einer E-Mail und auf unserer Webseite präsentiert. Da Du direkt Deine Zielgruppe ansprichst, sind Streuverluste so gut wie ausgeschlossen. 99% unserer Mails werden von Entscheidungsträgern geöffnet. Durch den Wiederholungseffekt, steigert sich Dein Bekanntheitsgrad.
        div.row
            div.col-12
                include snippets/newsletter
                +newsletter("Interesse - Partner", "Kontakt aufnehmen", "Emailadresse...")