div.container.testimonials-section
    div.row
        p.h1.text-center.col-12.section-heading DAS SAGEN UNSERE KUNDEN
    div.row.testimonials-outer-container.mt-4
        #carouselTestimonials.carousel.slide.carousel-fade(data-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    div.container-fluid.testimonials-container.mt-5
                        div.row
                            img.profil.m-auto(src="/assets/testimonials/face.jpg", alt="")
                            p.name.text-center.h2.col-12 Thorsten B.
                            p.job.text-center.col-12.text-muted aus Bergkamen
                        div.row
                            p.text.text-center.lead.col-12 Wer einen zuverlässigen Dachdecker benötigt der ist bei Auftragsdepot24 richtig. Der vermittelte Handwerker nahm sich Zeit, sprach gleich Empfehlungen zum Vorhaben aus. Wir fühlten uns kompetent beraten. Den nächsten Auftrag werden wieder über Auftragsdepot abwickeln.
                        div.row
                            div.rating.col-12.text-center.mt-2
                                span.star-full
                                span.star-full
                                span.star-full
                                span.star-full
                                span.star-full
                .carousel-item
                    div.container-fluid.testimonials-container.mt-5
                        div.row
                            img.profil.m-auto(src="/assets/testimonials/face.jpg", alt="")
                            p.name.text-center.h2.col-12 Anja H.
                            p.job.text-center.col-12.text-muted aus Gütersloh
                        div.row
                            p.text.text-center.lead.col-12 Einen herzlichen Dank an das Team von Auftragsdepot24 für die schnelle und unkomplizierte Vermittlung des Handwerkers. Dies war mein erster Auftrag über das Auftragsdepot, weitere werden bei Bedarf folgen. Besonders gut hat mir gefallen, dass ich nicht zwischen X Handwerkern aussuchen musste.
                        div.row
                            div.rating.col-12.text-center.mt-2
                                span.star-full
                                span.star-full
                                span.star-full
                                span.star-full
                                span.star
                .carousel-item
                    div.container-fluid.testimonials-container.mt-5
                        div.row
                            img.profil.m-auto(src="/assets/testimonials/face.jpg", alt="")
                            p.name.text-center.h2.col-12 Thomas Barteldrees
                            p.job.text-center.col-12.text-muted BT Dienstleistungen
                        div.row
                            p.text.text-center.lead.col-12 Die Anfrage die wir erhalten sind Perfekt ausgearbeitet bin ein zufriedener Kunde beim Auftragsdepot24. Endlich kann ich mich auf mein Kerngeschäft konzentrieren und verliere weniger Zeit durch unklare Anforderungen und Rückfragen beim Endkunden.
                        div.row
                            div.rating.col-12.text-center.mt-2
                                span.star-full
                                span.star-full
                                span.star-full
                                span.star-full
                                span.star-full
                .carousel-item
                    div.container-fluid.testimonials-container.mt-5
                        div.row
                            img.profil.m-auto(src="/assets/testimonials/face.jpg", alt="")
                            p.name.text-center.h2.col-12 Heizung und Sanitaär
                            p.job.text-center.col-12.text-muted asu Bönen
                        div.row
                            p.text.text-center.lead.col-12 Ich kann Auftragsdepot24 weiterempfehlen Persönlicher, unkomplizierter Kontakt und die Anfragen  sind super ausgearbeitet.
                        div.row
                            div.rating.col-12.text-center.mt-2
                                span.star-full
                                span.star-full
                                span.star-full
                                span.star-full
                                span.star
            a.carousel-control-prev(href='#carouselTestimonials', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='false')
                span.sr-only Davor
            a.carousel-control-next(href='#carouselTestimonials', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='false')
                span.sr-only N&auml;chster
    div.row.mt-5
        a.col-12.col-sm-12.col-lg-4.btn.ad-primary-btn.ad-red-btn.m-auto.handwerker(href="/handwerker-finden") 
            span Handwerker suchen