div.container.video-section
    div.row
        p.h1.text-center.col-12.section-heading SO FUNKTIONIERT ES
        p.text-center.col-12.lead Einfach und kostenlos deinen Auftrag in das Anfragenformular eintragen und absenden. Wir setzen uns dann mit dir in Verbindung und besprechen die Details zum Auftrag. Anschließend werden wir dir die passenden Handwerker zu deinem Projekt präsentieren. Jetzt bestimmst du den Besichtigungstermin und lässt dir unverbindlich Angebote zu deinen Auftrag erstellen. Danach wählst du den für dich passenden Handwerker aus.
    div.row.mt-4.video-container
        div.embed-responsive.embed-responsive-16by9.col-12.col-md-8.offset-md-2
            iframe(src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0", frameborder="0", class="embed-responsive-item", allowfullscreen)
    div.row.mt-5
        p.h1.text-center.col-12.section-heading SIE HABEN INTERESSE?
        p.text-center.col-12.lead Du willst bei Themen Rund ums Haus und Garten immer auf den neusten Stand sein? Dann trage dich einfach unverbindlich in unseren Newsletter ein!
    
    div.row
        div.col-12
            include snippets/newsletter
            +newsletter("Interesse - Privat", "Kontakt aufnehmen")