div.container.video-section
    div.row
        p.h1.text-center.col-12.section-heading SO FUNKTIONIERT ES
        p.text-center.col-12.lead Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, exercitationem ipsum. Tempore labore dolorum ullam beatae numquam asperiores voluptatibus recusandae quod, harum, provident, dicta molestias ipsa accusantium fugit? Unde, cum.
    div.row.mt-4.video-container
        div.embed-responsive.embed-responsive-16by9.col-12
            iframe(src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0", frameborder="0", class="embed-responsive-item", allowfullscreen)
    div.row.mt-5
        p.h1.text-center.col-12.section-heading SIE HABEN INTERESSE?
        p.text-center.col-12.lead Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, exercitationem ipsum. Tempore labore dolorum ullam beatae numquam asperiores voluptatibus recusandae quod, harum, provident, dicta molestias ipsa accusantium fugit? Unde, cum.    
    
    div.row
        div.col-12
            include snippets/newsletter
            +newsletter("Interesse - Privat", "Kontakt aufnehmen")