extends ./layout

block append script 
  script(src="/js/dropzone.min.js")

  link(href="/css/dropzone.min.css" rel="stylesheet")

block content
  include includes/navbar
  +navbar("company")
  include includes/company/header
  include includes/company/advantage-section
  include includes/company/video-section  
  include includes/company/form

block gradient-bottom
  div.gradient-bottom