extends ./layout

block append script 
  script(src="/js/dropzone.min.js")
  script(src="https://media.vr-pay-secure.de/modal/v1/modal.min.js?v=1.4")  
  script.
    jQuery("#btn-vrpaysecure-modal").vrpaysecureModal({
      shown: function(){
        jQuery("#vrpaysecure-modal").css({opacity: 1});
      }
    });

  link(href="/css/dropzone.min.css" rel="stylesheet")

block content
  include includes/navbar
  +navbar("company")
  include includes/company/header
  include includes/company/advantage-section
  include includes/company/video-section  
  include includes/company/form

block gradient-bottom
  div.gradient-bottom