extends ./layout

block content
  include includes/navbar
  include includes/landing-section
  include includes/advantage-section
  include includes/testimonial-section
  include includes/video-section
  include includes/partner-section

block gradient-bottom
  div.gradient-bottom