doctype html
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Auftragsdepot24 - #{title}
        block css
            link(rel="stylesheet", href="/css/bootstrap.min.css")
            link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
            link(href="/css/izitoast.min.css" rel="stylesheet")
            link(href="/css/all.css" rel="stylesheet")
    body
        block content
        block gradient-bottom
        block footer
            include includes/footer
        block script
            script(src="/js/jquery.js")
            script(src="/js/popper.js")
            script(src="/js/bootstrap.js")
            script(src="/js/main.js")
            script(src="/js/iziToast.min.js")

