html
    head
        title My Site - #{title}
        block script
            script(src="/js/jquery.js")
            script(src="/js/main.js")
            script(src="/js/iziToast.min.js")

            link(rel="stylesheet", href="/css/bootstrap.min.css")
            link(href="/css/izitoast.min.css" rel="stylesheet")
            link(href="/css/all.css" rel="stylesheet")
    body
        block content
        block footer
            footer
