doctype html
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Auftragsdepot24 - #{title}
        block css
            link(rel="stylesheet", href="/css/bootstrap.min.css", type="text/css")
            link(href="/css/iziToast.min.css" rel="stylesheet", type="text/css")
            link(href="/css/all.css" rel="stylesheet", type="text/css")
            link(href="/css/fontawesome-free/css/all.css" rel="stylesheet", type="text/css")
    body
        block content
        block gradient-bottom
        block footer
            include includes/footer
        block script
            //- script(src="/js/jquery.js")
            script(src="/js/jquery/jquery.js")
            script(src="/js/popper.js")
            script(src="/js/bootstrap.js")
            script(src="/js/bundle.js")
            //- script(src="/js/main.js")
            script(src="/js/iziToast.min.js")

