extends ./layout

block append script 
            script(src="/js/dropzone.min.js")

            link(href="/css/dropzone.min.css" rel="stylesheet")

block content
  include includes/navbar
  +navbar("person")
  include includes/person/header
  include includes/person/form

block gradient-bottom
  div.gradient-bottom