.ad-primary-btn {
  color: #fff;
  letter-spacing: 1px;
  font-size: 21px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 300px;
  max-width: 300px;
  padding: 0;
  border-radius: 0;
}
.ad-primary-btn:hover {
  color: #fff;
  text-decoration: none;
}
.ad-blue-btn {
  background: #2d619b;
}
.ad-red-btn {
  background: #fc3e3e;
}
.gradient-bottom {
  pointer-events: none;
  position: fixed;
  z-index: 998;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100px;
  background-image: linear-gradient(rgba(255,255,255,0), #fff);
}
.section-heading {
  letter-spacing: 1.5px;
}
.section-heading:after {
  content: '';
  background: #2d619b;
  height: 5px;
  width: 100px;
  display: block;
  margin: 1rem auto;
}
img {
  max-width: 100%;
  pointer-events: none;
}
button,
a.btn {
  cursor: pointer;
}
.container {
  margin-top: 5.5rem;
  margin-bottom: 175px;
}
.fullHeight {
  height: 100%;
}
.fullWidth {
  width: 100%;
}
hr.big {
  border-top: 3px solid #fff;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  padding: 0;
  background: rgba(255,255,255,0.6);
  transition: background 0.3s;
  box-shadow: none;
}
.navbar.scrolled {
  transition: all 0.3s;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
}
.navbar .navbar-brand {
  position: relative;
  top: -100%;
  padding: 0.5rem 1rem;
  height: 100%;
  transition: top 0.3s ease-in-out;
}
.navbar .navbar-brand.scrolled {
  top: 0;
  transition: top 0.3s ease-in-out;
}
.navbar .navbar-brand img {
  height: 100%;
}
.navbar .navbar-brand .navbar-slogan {
  display: none;
  margin-left: 1.5rem;
  color: #2d619b;
}
.navbar .landing-btn {
  height: 70px;
  min-width: 300px;
}
@media screen and (min-width: 992px) {
  .navbar .navbar-brand .navbar-slogan {
    display: inline-block;
  }
}
.landing-container {
  background: url("/assets/landing/bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  padding-top: 70px;
}
.landing-container .landing-responsive-overlay {
  position: absolute;
  width: 100vw;
  top: 70px;
  bottom: 0;
  background: rgba(255,255,255,0.6);
  z-index: 5;
}
.landing-container .landing-overlay-left,
.landing-container .landing-overlay-right {
  position: absolute;
  display: none;
}
.landing-container .content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3rem;
}
.landing-container .content-wrapper .landing-header {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
}
.landing-container .content-wrapper img {
  margin-bottom: 2rem;
}
.landing-container .content-wrapper .landing-slogan {
  font-size: 1.1em;
}
.landing-container .content-wrapper .landing-slogan span {
  font-weight: 600;
  text-transform: uppercase;
}
.landing-container .content-wrapper .landing-slogan span:nth-child(2) {
  margin: 0 1.5rem;
}
@media screen and (min-width: 768px) {
  .landing-container .content-wrapper img {
    height: 225px;
  }
}
@media screen and (min-width: 1200px) {
  .landing-container .landing-responsive-overlay {
    display: none;
  }
  .landing-container .landing-overlay-left,
  .landing-container .landing-overlay-right {
    display: block;
  }
  .landing-container .landing-overlay-left {
    width: 100%;
    height: calc(100vh - 70px);
    bottom: 0;
    right: 300px;
    background: url("/assets/landing/landingoverlay-left.svg") right top no-repeat;
    background-size: cover;
  }
  .landing-container .landing-overlay-right {
    background: url("/assets/landing/landingoverlay-right.svg") right bottom no-repeat;
    background-size: initial;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .landing-container .content-wrapper {
    right: 50%;
    left: calc(25vw - 250px);
  }
  .landing-container .content-wrapper img {
    height: 225px;
  }
}
.card-icon {
  background: #2d619b;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  position: relative;
}
.card-icon img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.testimonials-outer-container {
  background: url("/assets/icons/werkzeug_bg.svg") center center no-repeat;
  background-size: contain;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232d619b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232d619b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.testimonials-container .profil {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.testimonials-container .name {
  text-transform: uppercase;
  margin-top: 0.75em;
  margin-bottom: 0;
  letter-spacing: 3px;
}
.testimonials-container .job {
  letter-spacing: 1px;
}
.testimonials-container .text {
  quotes: "“" "”" "‘" "’";
}
.testimonials-container .text:before {
  content: open-quote;
}
.testimonials-container .text:after {
  content: close-quote;
}
.testimonials-container .rating span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 0.5em;
}
.testimonials-container .rating .star {
  background: url("/assets/testimonials/star.svg") center center no-repeat;
  background-size: contain;
}
.testimonials-container .rating .star-full {
  background: url("/assets/testimonials/star-full.svg") center center no-repeat;
  background-size: contain;
}
.testimonials-container .arrows > * {
  position: absolute;
  border-top: solid #333 3px;
  border-right: solid #333 3px;
  width: 30px;
  height: 30px;
  display: inline-block;
}
.testimonials-container .arrows .arrow-right {
  right: 50px;
}
.testimonials-container .arrows .arrow-left {
  left: 50px;
}
.video-container {
  position: relative;
  z-index: 999;
}
#partner-logo-container {
  background: url("/assets/partner/bg.jpg") no-repeat fixed;
  background-size: cover;
}
footer {
  position: relative;
  background: #2d619b;
  color: #fff;
  z-index: 999;
}
.dropzone {
  border: 3px solid #ced4da !important;
  border-radius: 0.25rem;
}
.header-container {
  background: url("/assets/person/header_bg.jpg") center center no-repeat fixed;
  background-size: cover;
  width: 100vw;
  height: 400px;
}
.header-container .content-container {
  margin-top: 70px;
  padding: 70px 3rem;
  background: rgba(255,255,255,0.6);
}
.header-container .content-container .form-header-heading {
  font-size: 3em;
  letter-spacing: 5px;
}
.newsletter-form > .email-input::before {
  opacity: 0;
  transition: opacity 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "Erfolg";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #008000;
  z-index: -1;
}
.newsletter-form.email-sent > .email-input::before {
  opacity: 1;
  z-index: 1;
}
.newsletter-form > .email-input {
  position: relative;
  display: inline-block;
}
