div.container.advantage-section
    div.row
        p.h1.text-center.col-12.section-heading WARUM AUFTRAGSDEPOT24?
        p.text-center.col-12.lead Qualität statt Quantität, das ist unser Motto. Aus Erfahrung wissen wir, dass Du aus mehr Anfragen nicht automatisch mehr Aufträge generieren kannst. Du musst hier erst einmal aus einer Fülle von Informationen, die Anfragen für Dich herausfiltern, die interessant und auch machbar sind. Das kostet Zeit! Diese Arbeit übernehmen wir für Dich!
        p.text-center.col-12.lead Aus diesem Grund versenden wir ausschließlich qualifizierte Anfragen und entlasten Dich somit. Zusätzlich recherchiert unser Team nach passenden Anfragen aus öffentlichen Quellen. Diese werden ebenfalls nach unseren strengen Standards qualifiziert. Unsere professionelle Dienstleistung hilft Dir dabei, Dich voll und ganz auf Dein eigentliches Geschäft zu fokussieren.
        p.text-center.col-12.lead Qualität setzt sich durch!
    div.row.mt-4
        div.col.col-sm-12.col-12.col-md-4.mb-4
            div.card
                div.card-header.h3.text-center Sicherheit
                div.card-body
                    div.card-icon
                        div.icon.secure-icon
                    p.card-text.text-center Du erhältst nur Anfragen passend zu Deinen Qualifikationen und in Deinem Wirkungskreis.
        div.col.col-sm-12.col-12.col-md-4.mb-4
            div.card
                div.card-header.h3.text-center Exklusivität
                div.card-body
                    div.card-icon
                        div.icon.exclusive-icon
                    p.card-text.text-center Jede Anfrage wurde durch uns persönlich für dich qualifiziert und geprüft.
        div.col.col-sm-12.col-12.col-md-4.mb-4
            div.card
                div.card-header.h3.text-center Erfolg
                div.card-body
                    div.card-icon
                        div.icon.success-icon
                    p.card-text.text-center Verbessere mit uns Deine Auftragslage mit den perfekten Aufträgen in Deiner Nähe.          
        