div.header-container.company
    div.content-container.text-center.d-flex.flex-column.justify-content-center.fullHeight
        h1.form-header-heading AUFTR&Auml;GE FINDEN
        p.lead Sichere dir heute die Aufträge von morgen