div.header-container
    div.content-container.text-center.d-flex.flex-column.justify-content-center.fullHeight
        h1.form-header-heading AUFTR&Auml;GE FINDEN
        p.lead Finden die passenden Auftr&auml;ge in deinem Umkreis