div.container.video-section
    div.row
        p.h1.text-center.col-12.section-heading SO FUNKTIONIERT ES
        p.text-center.col-12.lead Anmeldeformular ausfüllen und mit dem Testpaket zum Vorzugspreis starten. Wir setzen uns anschließend mit Dir in Verbindung und besprechen die Details zum Deinem Unternehmen (weitere Gewerke, Wirkungskreis, Qualifikationen uvm.) Liegen uns alle Informationen vor, beginnen wir direkt mit der Zustellung der Anfragen. Hier wirst du exklusiv von uns vermittelt, dass bedeutet, du stehst mit höchstens zwei Unternehmen im Wettbewerb. Alle Anfragen werden von uns persönlich auf Herz und Nieren (Qualifikation) geprüft. Nach Erhalt der Informationen, brauchst du dich nur noch mit den Auftraggeber zum vereinbarten Termin in Verbindung setzen, Dein Angebot abgeben und den Auftrag ausführen.
    //- div.row.mt-4.video-container
    //-     div.embed-responsive.embed-responsive-16by9.col-12.col-md-8.offset-md-2
    //-         iframe(src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0", frameborder="0", class="embed-responsive-item", allowfullscreen)