mixin newsletter(type, btnName, placeholder)
    .newsletter-container.fullWidth
        form.newsletter-form(action="nsend", method="post")
            div.row
                input(type="hidden", name="type", value=type)
                div.input-group
                    input.col-12.col-lg-6.offset-lg-3.form-control(type="email", placeholder=placeholder, name="email", required)
            div.row.mt-5
                button.col-12.col-sm-12.col-lg-4.btn.ad-primary-btn.ad-red-btn.m-auto.kontakt
                    span.text-uppercase= btnName