extends ../layout

block content
  include ../includes/navbar
  +navbar("company")
  div(style="margin-top: 150px;")
  div.container
    div.row.mb-4
      p.h4.fullWidth Allgemeine Geschäftsbedingungen Auftragsdepot24.de Stand: #{today}
    div.row
      p.h4.fullWidth 1. Geltungsbereich
      p Diese AGB finden auf das Vertragsverhältnis zwischen der Auftragsdepot24, Konrad-Ernst-Str. 28, 33106 Paderborn und den Dienstleistungsunternehmen Anwendung. Sie gelten aber nur insoweit, als nicht durch individuelle Vereinbarung eine abweichende Regelung getroffen wurde.
    div.row
      p.h4.fullWidth 2. Gegenstand
      p 2.1 Auftragsdepot24 ist eine Agentur für Anfragen die diese an geeignete Unternehmen weiterleitet umso entsprechende Angebote zu veranlassen. Bei den Unternehmen handelt es sich um Vertragspartner der Auftragsdepot24.
      p 2.2 Nachdem die Daten und alle Angaben der Unternehmen durch Auftragsdepot24 geprüft wurden, erhalten diese Anfragen von Interessenten die die jeweilige Dienstleistung benötigen. Die Vertragspartner stellen sicher, dass Ihr Angebot vollständig und aussagekräf- tig ist, damit der Interessent ein klares Angebot vom Leistungsumfang des Unternehmens er- hält.
      p 2.3 Für Vertragsabschlüsse (dem Zustandekommen eines Vertrages oder nicht), Inhalte, Vereinbarungen, Absprachen aller Art, Kommunikationsform und mündlichen Fehlern zwi- schen Ihnen, dem Unternehmen und dem Interessenten, übernimmt die Firma Auftragsdepot24 keine Gewähr oder Haftung.
      p 2.4 Jede Anfrage die durch uns übermittelt wird, ist im Paketpreis enthalten.
    div.row
      p.h4.fullWidth 3.Vertragsabschluss/Laufzeit
      p 3.1 Der Vertrag läuft zunächst über den am Telefon gebuchten Nutzungszeitraum.
      p 3.2 Das Recht beider Parteien zur Kündigung aus wichtigem Grund bleibt unberührt.
      p 3.3 Ein Widerrufrecht ist nicht verankert.
    div.row
      p.h4.fullWidth Entgelte und Rechnungsstellung
      p 4.1 Das Entgelt für die erhaltene Dienstleistung, richtet sich nach dem im Telefonat abge- sprochenen und genannten Angebot. Genannte Preise verstehen sich zzgl. ggf. zu entrichtender Umsatzsteuer.
      p 4.2 Bei Abschluss des Angebots, wird der Rechnungsbetrag innerhalb von 14 Tagen fällig. Die Zustellung der Anfragen, beginnt, sobald die Qualifikationsnachweise des Unternehmens vorliegen. Gerät ein Unternehmen in Verzug, so macht Auftragsdepot24 von seinem Zurück- haltungsrecht Gebrauch. Auftragsdepot kann in diesem Fall die Anfragenrecherche und Zu- stellung einstellen.
    div.row
      p.h4.fullWidth Pflichten des Dienstleistungsunternehmens
      p 5.1 Es ist ausdrücklich jedem Unternehmen untersagt, die durch uns an Sie weitergeleiteten Kundendaten an Dritte abzugeben oder für andere Zwecke außer der Angebotsabgabe für Handwerksarbeiten,- Aufträge zu verwenden.
      p 5.2 Das Unternehmen verpflichtet sich, Auftragsdepot24 jede Änderung der in 2.2 genannten Angaben wie Firmenname, Anschrift und Kontaktinformationen unverzüglich schriftlich mitzu- teilen. Auftragsdepot24 übernimmt keine Gewährleistung für Anfragen die durch falsche oder nicht korrekt übermittelte Angaben nicht zugestellt werden können.
    div.row
      p.h4.fullWidth Datenschutz
      p 6.1 Für Schadensersatzansprüche durch Interessenten bei Missachtung und nicht Einhalten der Datenschutzbestimmungen durch die Handwerksbetriebe haftet die Firma Auftragsde- pot24 nicht.

    div.row.mt-4
      p Inhaberin: Karin Just
      p info@auftragsdepot24.de
      p Adresse: Nickelstr. 21, 33378 Rheda-Wiedenbrück
      p Amtsgericht Paderborn

block gradient-bottom
  div.gradient-bottom