extends ../layout

block content
  include ../includes/navbar
  +navbar("company")
  div(style="margin-top: 150px;")
  div.container
    div.row.mb-4
      p.h3.fullWidth Allgemeine Geschäftsbedingungen für Auftraggeber Stand: #{today}
    div.row
      p Diese Allgemeinen Geschäftsbedingungen (nachfolgend AGB genannt) regeln die Rechte und Pflichten bei der Nutzung von Auftragsdepot24. Sie enthalten Hinweise zum Datenschutz (Ziffer 5) Ihr Vertragspartner ist die ST.AR oHG. Genauere Angaben dazu, finden Sie in unserem Impressum.
    div.row
      p.h4.fullWidth 1. Nutzung und Kommunikation
      p 1.1 Die Nutzung unserer Dienstleistung für Auftraggeber ist stets kostenlos.
      p 1.2 Wir haften nicht für Beschränkungen, Beeinträchtigungen und Verbindungsabbrüche. Diese versuchen wir weit möglichst zu vermeiden.
      p 1.3 Wir können technische Schutzmaßnahmen einsetzen, um unser System sowie Dritte vor schädlichen Programmen und Inhalten zu schützen.
      p 1.4 Für Fragen, außerhalb des Anfragenformulars, stehen wir Ihnen unter der Mail Adresse kontakt@auftragsdepot24.de zur Verfügung.
      p 1.5 Die Informationen zu unseren Dienstleistern für Ihr Projekt, erhalten Sie in der Regel per E-Mail an die von Ihnen angegebene E-Mail Adresse. Bitte halten Sie Ihre E-Mail Adresse aktuell und prüfen Sie diese regelmäßig auf den Empfang von neuen Nachrichten.
    div.row
      p.h4.fullWidth 2. Inhalte
      p 2.1 Wir bieten Ihnen die Möglichkeit, Ihre Anfrage in das entsprechende Formular einzutragen. Zu diesem Zweck, können Sie Bilder, Texte und Daten hinterlegen.
      p 2.2 An Ihren Inhalten erheben wir keine Verwertungs- oder Nutzungsrechte.
      p 2.3 Für alle Ihre Inhalte, müssen Sie über die erforderlichen Rechte verfügen. Bitte beachten Sie, bevor Sie die Inhalte zur Verfügung stellen, ob Sie die erforderlichen Rechte besitzen.
      p 2.4 Wir sind berechtigt, Inhalte die Sie eingestellt haben, nicht weiterzugeben, wenn ein begründeter Verdacht besteht, dass diese gegen gesetzliche Bestimmungen oder gegen diese AGB verstoßen. Ein begründeter Verdacht besteht insbesondere, wenn gegen Sie wegen Inhalten, die Sie eingestellt haben, behördliche oder strafrechtliche Ermittlungen geführt werden.
      p 2.5 Wir behalten uns das Recht vor, Anfragen gegebenenfalls abzulehnen.
    div.row
      p.h4.fullWidth 3. Rechtmäßige Nutzung
      p 3.1 Unsere Dienstleistung darf nur in einer Weise genutzt werden, die nicht gegen geltendes Recht oder die AGB verstößt. Noch darf sie das Recht Dritter verletzen.
      p 3.2 Die Verbreitung von rassistischen, pornografischen, gewaltverherrlichenden oder -verharmlosenden sowie sittenwidrigen Inhalten ist verboten.
      p 3.3 Wir behalten uns das Recht vor, Kommentare mit Beleidigungen, Belästigungen, Verleumdungen und Bedrohungen zu löschen.
      p 3.4 Sie dürfen durch die Nutzung, Urheber-, Marken- oder sonstige Schutzrechte Dritter nicht verletzen.
      p 3.5 Hiermit weisen wir auf die gesetzlichen Bestimmungen zur Bekämpfung von Schwarzarbeit hin. Die Durchführung solcher Aufträge, die unter Verstoß gegen diese gesetzlichen Regelungen ausgeführt werden sollen, ist verboten. Wir behalten uns vor, bei Verdacht, solche Anfragen nicht zu vermitteln.
      p 3.6 Wenn Sie gegen diese AGB oder geltendes Recht schuldhaft verstoßen, können wir die notwendigen Maßnahmen ergreifen.
    div.row
      p.h4.fullWidth 4. Anfragen
      p 4.1 Wenn Sie eine Anfrage über Auftragsdepot24 einstellen, ist dies eine unverbindliche Aufforderung, Sie an die entsprechenden Dienstleister zu vermitteln. Darüber hinaus, erklären Sie sich damit einverstanden, dass wir Kontakt zu Ihnen aufnehmen.
      p 4.2 Für die Angebote der Dienstleister, übernehmen wir keine Haftung.
      p 4.3 Für Vertragsabschlüsse (dem Zustandekommen eines Vertrages oder nicht), Inhalte, Vereinbarungen, Absprachen aller Art, Kommunikationsform und mündlichen Fehlern zwischen Auftraggebern und den Dienstleistern, übernehmen wir keine Gewähr oder Haftung.
      p 4.4 Für die ausgeführten Arbeiten der Dienstleister, übernehmen wir ebenfalls keine Gewähr oder Haftung.
    div.row
      p.h4.fullWidth 5. Personenbezogende Daten und deren Verwendung
      p 5.1 Wir verwenden Ihre personenbezogenen Daten ausschließlich für die Bereitstellung und Nutzung unserer Vermittlung, es sei denn, eine weitergehende Datenverwendung ist gesetzlich notwendig oder es liegt Ihre ausdrückliche Einwilligung vor.
      p 5.2 Weitere Details zur Datenschutzerklärung finden Sie unter folgendem Link: 

    div.row.mb-4.mt-5
      p.h3.fullWidth Allgemeine Geschäftsbedingungen für Auftragnehmer Stand: #{today}
    div.row
      p Diese Allgemeinen Geschäftsbedingungen (nachfolgend AGB genannt) regeln die Rechte und Pflichten bei der Nutzung von Auftragsdepot24. Sie enthalten Hinweise zum Datenschutz (Ziffer 9) Ihr Vertragspartner ist die ST.AR oHG. Genauere Angaben dazu, finden Sie in unserem Impressum.
    div.row
      p.h4.fullWidth 1. Geltungsbereich
      p 1.1 Diese AGB finden auf das Vertragsverhältnis zwischen der ST.AR oHG und den Handwerkern oder Dienstleistern (Auftragnehmer) Anwendung. Sie gelten aber nur insoweit, als nicht durch individuelle Vereinbarung eine abweichende Regelung getroffen wurde.
    div.row
      p.h4.fullWidth 2. Vertragsabschluss, Laufzeiten und Kündigungsfristen Testpaket
      p 2.1 Die Vertragslaufzeit beginnt mit dem Datum der Auftragsbestätigung.
      p 2.2 Der Vertrag läuft zunächst über den gebuchten Testzeitraum.
      p 2.3 Bei Abschluss des Testzeitraumes, wird der Rechnungsbetrag innerhalb von 14 Tagen fällig. Die Zustellung der Anfragen, beginnt, sobald die Qualifikationsnachweise (Mitgliedsnummer HWK, Gewerbeanmeldung, Gesellenbrief, Meisterbrief) des Unternehmens vorliegen und der Gesamtbetrag vollständig beglichen wurde. Gerät ein Unternehmen in Verzug, so macht die ST.AR oHG von seinem Zurückhaltungsrecht Gebrauch. Die ST.AR oHG kann in diesem Fall die Anfragenrecherche und Zustellung einstellen.
      p 2.4 Der Testzeitraum kann jederzeit zum Laufzeitende gekündigt werden. Wird der Testzeitraum nicht gekündigt, profitieren Sie automatisch von unserem Angebot für 12 Monate zum genannten Vorzugspreis.
    div.row
      p.h4.fullWidth 3. Laufzeiten und Kündigungsfristen
      p 3.1 Die Vertragslaufzeit beginnt mit dem Datum der Auftragsbestätigung.
      p 3.2 Der Vertrag läuft zunächst über den gebuchten Zeitraum.
      p 3.3 Der gebuchte Zeitraum kann mit einer Frist von frühestens 4 Wochen zum Laufzeitende gekündigt werden.
      p 3.4 Die Kündigung muss in Textform erfolgen. Senden Sie die Kündigung bitte an die service@auftragsdepot24.de. Oder per Post an die im Impressum angegebene Adresse.
      p 3.5 Ein Widerrufsrecht ist vertraglich nicht verankert.
    div.row
      p.h4.fullWidth 4. Entgelte und Rechnungsstellung
      p 4.1 Das Entgelt für die gebuchte Dienstleistung, richtet sich nach dem in der Leistungsbeschreibung genannten Angebot. Genannte Preise verstehen sich zzgl. zu entrichtender Umsatzsteuer.
      p 4.2 Bei Abschluss des Angebots, wird der Rechnungsbetrag innerhalb von 14 Tagen fällig. Die Zustellung der Anfragen, beginnt, sobald die Qualifikationsnachweise des Unternehmens vorliegen. Gerät ein Unternehmen in Verzug, so macht Auftragsdepot24 von seinem Zurück- haltungsrecht Gebrauch. Auftragsdepot kann in diesem Fall die Anfragenrecherche und Zu- stellung einstellen.
    div.row
      p.h4.fullWidth 5. Einzugsermächtigung und Abrechnung
      p 5.1 Wenn Sie uns Ihre Bankverbindung übermittelt haben, ermächtigen Sie uns widerruflich zum Einzug der vereinbarten fälligen Beträge mittels Lastschrift. Diese entnehmen Sie bitte der entsprechenden Leistungsbeschreibung. Bitte beachten Sie, dass Ihr Konto zum Abbuchungstermin die notwendige Deckung aufweist.
      p 5.2 Bei fehlschlagen des Lastschrifteinzugs, machen wir von unserem Zurückhaltungsrecht Gebrauch und stellen die Anfragen Zustellung unverzüglich ein. Diese wird erst wieder nach vollständiger Zahlung des offenen Betrags aufgenommen. Zusätzlich berechnen wir eine pauschale für jede Rücklastschrift in Höhe von 9,00 Euro als Schadensersatz.
      p 5.3 Sofern es durch einen Zahlungsverzug zu einer Mahnung kommt, berechnen wir eine Mahngebühr in Höhe von 5,00 Euro.
      p 5.4 Einwendungen gegen gestellte Rechnungen können mit einer Frist von 8 Wochen nach Zugang, mit einer Begründung in Textform erhoben werden. Sollten innerhalb dieser Frist keine Einwendungen erfolgen, gilt die Rechnung als gültig.
      p 5.5 Sollten Sie sich mit mehr als 2 Monatsbeträgen im Verzug befinden, behalten wir uns das Recht vor, die Gesamtsumme inkl. aller angefallenen Mahngebühren fällig zustellen.
    div.row
      p.h4.fullWidth 6. Rechtmäßige Nutzung
      p 6.1 Unsere Dienstleistung darf nur in einer Weise genutzt werden, die nicht gegen geltendes Recht oder die AGB verstößt. Noch darf sie das Recht Dritter verletzen.
      p 6.2 Die Verbreitung von rassistischen, pornografischen, gewaltverherrlichenden oder -verharmlosenden sowie sittenwidrigen Inhalten ist verboten.
      p 6.3 Wir behalten uns das Recht vor, Kommentare mit Beleidigungen, Belästigungen, Verleumdungen und Bedrohungen zu löschen.
      p 6.4 Sie dürfen durch die Nutzung, Urheber-, Marken- oder sonstige Schutzrechte Dritter nicht verletzen.
      p 6.5 Hiermit weisen wir auf die gesetzlichen Bestimmungen zur Bekämpfung von Schwarzarbeit hin. Die Durchführung solcher Aufträge, die unter Verstoß gegen diese gesetzlichen Regelungen ausgeführt werden sollen, ist verboten. Wir behalten uns vor, bei Verdacht, solche Anfragen nicht zu vermitteln.
      p 6.6 Wenn Sie gegen diese AGB oder geltendes Recht schuldhaft verstoßen, können wir die notwendigen Maßnahmen ergreifen.
    div.row
      p.h4.fullWidth 7. Pflichten des Auftragnehmers
      p 7.1 Es ist ausdrücklich jedem Unternehmen untersagt, die durch uns an Sie weitergeleiteten Kundendaten an Dritte abzugeben oder für andere Zwecke außer der Angebotsabgabe für Handwerksarbeiten,- Aufträge zu verwenden.
      p 7.2 Das Unternehmen verpflichtet sich, ST.AR oHG jede Änderung der Angaben wie Firmenname, Anschrift und Kontaktinformationen unverzüglich schriftlich mitzuteilen. Die ST.AR oHG übernimmt keine Gewährleistung für Anfragen die durch falsche oder nicht korrekt übermittelte Angaben nicht zugestellt werden können.
      p 7.3 Für Vertragsabschlüsse (dem Zustandekommen eines Vertrages oder nicht), Inhalte, Vereinbarungen, Absprachen aller Art, Kommunikationsform und mündlichen Fehlern zwi- schen Ihnen, dem Unternehmen und dem Interessenten, übernimmt die ST.AR oHG keine Gewähr oder Haftung.
    div.row
      p.h4.fullWidth Datenschutz
      p 8.1 Für Schadensersatzansprüche durch Interessenten bei Missachtung und nicht Einhalten der Datenschutzbestimmungen durch die Handwerksbetriebe haftet die ST.AR oHG nicht.
    div.row
      p.h4.fullWidth 9. Personenbezogende Daten und deren Verwendung
      p 9.1 Wir verwenden Ihre personenbezogenen Daten ausschließlich für die Bereitstellung und Nutzung unserer Vermittlung, es sei denn, eine weitergehende Datenverwendung ist gesetzlich notwendig oder es liegt Ihre ausdrückliche Einwilligung vor.
      p 9.2 Weitere Details zur Datenschutzerklärung finden Sie unter folgendem Link:
    div.row
      p.h4.fullWidth 10. Gerichtsstand
      p Für juristische Personen und Kaufleute im Sinne des HGB gilt für Streitigkeiten der Gerichtsstand in Rheda-Wiedenbrück.

block gradient-bottom
  div.gradient-bottom